{
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-props-no-spreading": "off",
        "react/no-danger": "off",
        "react/forbid-prop-types": "off",
        "react/require-default-props": "off",
        "react/static-property-placement": "off",
        "no-tabs": "off",
        "no-mixed-spaces-and-tabs": "off",
        "indent": "off"
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "airbnb",
        "airbnb/hooks"
    ]
}