button {
  @apply outline-none;
}
/* LAYOUT CSS */
.all-transitions {
  transition: all 0.5s ease-in-out;
}
.nav-wrapper {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
}
.nav-open {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
  -moz-animation: slide-in 1s forwards;
}

.nav-close {
  animation: slide-out 1s forwards;
  -webkit-animation: slide-out 1s forwards;
  -moz-animation: slide-out 1s forwards;
}

.nav-item {
  transition: transform 0.5s ease-in;
}
.nav-item-text {
  background: linear-gradient(to right, orange 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  background-clip: text;
  color: transparent;
  transition: all 1s ease;
}
.nav-item:hover {
  transform: translateX(5%);
}
.nav-item:hover .nav-item-text {
  background-position: left bottom;
}
.hamburger-icon {
  @apply all-transitions;
}
.hamburger:hover .hamburger-icon {
  transform: scale(1.2);
  @apply text-orange;
}
.white-gradient {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 90%);
}
.black-gradient {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 90%);
}
.hamburger-close {
  transition: transform 1s ease;
}
.hamburger-close svg {
  transition: all 0.5s ease-in-out;
}
.hamburger-close:hover {
  transform: rotate(90deg);
}
.hamburger-close:hover svg {
  @apply text-orange;
}
/* END OF LAYOUT CSS */
/* MAIN CSS */
.fade-in {
  animation: fade-in 1s ease-in 1s forwards;
}
::-webkit-scrollbar {
  @apply w-10;
}
::-webkit-scrollbar-track {
  @apply bg-white;
}
::-webkit-scrollbar-thumb {
  @apply bg-black;
  border: 1px solid white;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-orange;
}
.frameworkcard-button {
  transition: background-color 0.75s ease-in-out;
}
.frameworkcard-button svg {
  transform: translateX(49%);
  transition: color 0.75s ease-in-out;
}
.frameworkcard-button:hover span {
  @apply text-black;
}
.frameworkcard-button:hover svg {
  @apply text-orange;
}
.progress-circle, .progress-arrow {
  will-change: transform;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.progress-arrow {
  @apply opacity-0;
  transform: translate3d(0, 10px, 0)
}
.btn-progress:hover .progress-circle {
  @apply opacity-0;
  transform: translate3d(0, -10px, 0);
}
.btn-progress:hover .progress-arrow {
  @apply opacity-100;
  transform: translate3d(0, 0, 0);
}
/* END OF MAIN CSS */
/* MDL RESPONSIVE CSS */
@screen mdl {
  .frameworkcard-wrapper {
    transition: all 1s ease-in;
    opacity: 0;
    transform: translateY(10%);
  }
  .in-viewport-fade {
    opacity: 1;
    transform: translateY(0%);
  }
  .frameworkcard-content {
    transform: translateY(5%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  .frameworkcard-wrapper:hover .frameworkcard-content {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* MDL RESPONSIVE CSS */